{% extends 'base.html' %}

{% block content %}
  {% include 'header.html' with show_logo=True %}
  <div class="container">
    <form class="form-container" method="post">
      {% csrf_token %}
      
      {% for field in form %}
        <p>
          {{ field.placeholder }}<br>
          {{ field }}
          {% if field.name == 'contact_number' %}
            <small>
              <em>Make sure to start your number with '+1' for the United States. For example, 234-555-5678 would be input as +12345555678</em>
              Please note Drover does not work with Google Voice at this time.
            </small>
          {% endif %}
          {% if field.name == 'password1' %}
            <p class="small">
              Password must be minimum 8 characters and contain at least one number
              and one character (@_!#$%^&*()<>?/\|}{~:)
            </p>
          {% endif %}
          <!-- {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %} -->
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <input type="checkbox" id="twilio_optin" name="twilio_optin" value="Consent">
  <label for="twilio_optin">By clicking here, you agree to receive text messages from the organizers of your group via Drover. Consent is not a condition of purchase. Message and data rates may appl. Reply HELP for help or STOP to cancel.</label><br>
       <input type="checkbox" id="accept_terms" name="accept_terms" value="accept_terms">
  <label for="accept_terms">Clicking here means you have read and understand our <a href="https://github.com/droverapp/terms/blob/main/README.md" target="_blank">privacy policy & terms of service.</a></label><br>
      <div style="text-align: center;">
        <button class="btn btn-primary btn-orange" type="submit">Sign up</button>
      </div>
    </form>
  </div>
  {% include 'footer.html' %}
{% endblock %}