{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'header.html' with title="Write Message" nav_menu=True %}
  <div class="container">
    <form class="form-container" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="message">
            Compose Message To {% if is_admin %}Your Group {% else %}Group Admins {% endif %}
        </label><br />
        <div class="glyphicon glyphicon-picture message-image-container" title="upload image for the conversation">
          <input type="file" name="message-image" />
          <img src="" role="presentation" id="uploaded-image" />
        </div>
        <textarea class="form-control" name="message" id="message" rows="10"></textarea>
      </div>
      <div style="text-align: center;">
        <button class="btn btn-primary btn-blue" type="submit">Send</button>
      </div>
    </form>
  </div>
  {% include 'footer.html' with show_logo=True %}
{% endblock %}
{% block page_js %}
<script src="{% static 'js/preview_image.js' %}"></script>
{% endblock %}
