{% extends 'base.html' %}
{% load static %}
{% block page_css %}
<link rel=stylesheet type=text/css href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block content %}
  {% include 'header.html' with title="Create Group" nav_menu=True %}
  <div class="container">
    <form class="form-container" method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Please enter a name for your group:</label>
        <input class="form-control" name="name" id="name" placeholder="Barnaby Family Reunion 2020" />
      </div>
      <div class="form-group">
        <label for="description">and a brief description:</label>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <!-- <textarea class="form-control" name="description" id="id_description" placeholder="Group Description"></textarea> -->
        <div class="django-ckeditor-widget" data-field-id="id_description" style="display: inline-block;">
          <textarea id="id_description" name="description" 
            data-processed="0" 
            data-config="{&quot;skin&quot;: &quot;moono-lisa&quot;, 
              &quot;toolbar_Custom&quot;: [[&quot;Bold&quot;, &quot;Italic&quot;, &quot;Underline&quot;], [&quot;Link&quot;, &quot;Unlink&quot;]],
              &quot;toolbar&quot;: &quot;Custom&quot;,
              &quot;height&quot;: 300, &quot;width&quot;: 300,
              &quot;filebrowserWindowWidth&quot;: 300, &quot;filebrowserWindowHeight&quot;: 300,
              &quot;language&quot;: &quot;en-us&quot;}"
            data-external-plugin-resources="[]"
            data-id="id_description"
            data-type="ckeditortype"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label>Upload an image for the group:</label>
        <!-- <input type="file" name="group_image" /> -->
      </div>
      <div class="form-group">
        <label for="venue">What's your group's location?</label>
        <input class="form-control" name="venue" id="venue" placeholder="You don't need specifics yet! City/state will be just fine."
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu location-results" aria-labelledby="dropdownMenuLink">
        </div>
      </div>
      <div class="form-group">
        <label for="event_date">What is your event's start date?</label>
        <div style="position: relative;">
          <input class="form-control" name="event_date" id="event_date" placeholder="Event Date (YYYY-MM-DD)" />
        </div>
      </div>
      <div class="schedule-form-container">
        <h2>Add Events</h2>
        <div id="schedule-view-container"></div>
        <div style="text-align: center;">
          <button class="btn btn-secondary" data-toggle="modal" data-target="#schedule-form-modal" type="button">Add a New Event</button>
        </div>
      </div>
      <div style="text-align: center;">
        <button class="btn btn-primary" type="submit">Create Group</button>
      </div>
    </form>
  </div>
  {% include 'schedule_form.html' %}
  {% include 'schedule_form_modal.html' %}
  {% include 'schedule_form_view.html' %}
  {% include 'footer.html' with show_logo=True %}
{% endblock %}

{% block page_js %}
<script src="{% static 'js/add_schedule.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/search_location.js' %}"></script>

<script type="text/javascript">
  $(function () {
    $('#event_date').datetimepicker();
    $('.schedule_datetimepicker').datetimepicker();
  });
</script>
{% endblock %}