{% extends 'base.html' %}
{% load static %}
{% block page_css %}
<link rel=stylesheet type=text/css href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block content %}
  {% include 'header.html' with title="Edit Group" nav_menu=True group_id=group.group_id page='edit' %}
  <div class="container">
    <form class="form-container edit-form" method="post">
      {% csrf_token %}
      <h4 class="group-title">{{ group.name }}</h4>
      <div class="form-group">
        <label for="description">Edit group description:</label>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <!-- <textarea class="form-control" name="description" id="id_description" placeholder="Group Description"></textarea> -->
        <div class="django-ckeditor-widget" data-field-id="id_description" style="display: inline-block;">
          <textarea id="id_description" name="description" 
            data-processed="0" 
            data-config="{&quot;skin&quot;: &quot;moono-lisa&quot;, 
              &quot;toolbar_Custom&quot;: [[&quot;Bold&quot;, &quot;Italic&quot;, &quot;Underline&quot;], [&quot;Link&quot;, &quot;Unlink&quot;]],
              &quot;toolbar&quot;: &quot;Custom&quot;,
              &quot;height&quot;: 300, &quot;width&quot;: 300,
              &quot;filebrowserWindowWidth&quot;: 300, &quot;filebrowserWindowHeight&quot;: 300,
              &quot;language&quot;: &quot;en-us&quot;}"
            data-external-plugin-resources="[]"
            data-id="id_description"
            data-type="ckeditortype">{{ group.description|safe }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <img src="{{ group.image.url }}" class="group-image" />
        <label>Change image for the group:</label>
        <input type="file" name="group_image" />
      </div>
      <div class="form-group">
        <label for="venue">Edit Venue</label>
        <input class="form-control" name="venue" id="venue" placeholder="Venue" value="{{ group.venue }}"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu location-results" aria-labelledby="dropdownMenuLink">
        </div>
      </div>
      <div class="form-group">
        <label for="event_date">Edit Event Date</label>
        <div style="position: relative;">
          <input class="form-control" name="event_date" id="event_date" placeholder="Event Date (YYYY-MM-DD)"/>
        </div>
      </div>
      <div class="schedule-form-container">
        <h2>Schedules</h2>
        <div id="schedule-view-container">
          {% for schedule in schedules %}
          {% include 'schedule_form_view.html' with schedule_name=schedule.name %}
          {% endfor %}
        </div>
        <div style="text-align: center;">
          <button class="btn btn-secondary" data-toggle="modal" data-target="#schedule-form-modal" type="button">Add Schedule</button>
        </div>
      </div>
      <div style="text-align: center;">
        <p>If you've added or changed an event, be sure to hit "Save Changes" to save everything!</p>
        <button class="btn btn-primary" type="submit">Save Changes</button>
      </div>
    </form>
    <div class="member-container">
      <h3>Members</h3>
      <ul class="member-list">
        {% for member in group_members %}
        <a href="{% url 'edit_group_member' group_id=group.group_id member_id=member.member_id %}">
          <li class="d-flex justify-content-between">
            <span>{{ member.user }}</span>
            {% if member.is_admin %}
            <span>ADMIN</span>
            {% endif %}
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% include 'schedule_form.html' %}
  {% include 'schedule_form_modal.html' %}
  {% include 'schedule_form_view.html' %}
  {% include 'footer.html' with show_logo=True %}
{% endblock %}

{% block page_js %}
<script src="{% static 'js/add_schedule.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/search_location.js' %}"></script>

<script type="text/javascript">
  $(function () {
    $('#event_date').datetimepicker();
    $('.schedule_datetimepicker').datetimepicker();
  });
</script>
{% endblock %}