<div class="modal fade" tabindex="-1" role="dialog" id="event-form-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a New Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="event_id" value="0"/>
        <div class="form-group">
          <input class="form-control" id="event_name" placeholder="Event Name" />
        </div>
        <div class="form-group">
          <input class="form-control event_datetimepicker" id="event_time" placeholder="Event Date and Time" />
        </div>
        <div class="form-group">
          <input class="form-control" id="event_venue_name" placeholder="Venue Name, e.g. Mom's Place"/>
        </div>
        <div class="form-group">
          <input class="form-control" id="event_venue_address" placeholder="Venue Address" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
          <div class="dropdown-menu location-results" aria-labelledby="dropdownMenuLink">
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" id="event_venue_map" placeholder="Map Link - will be filled in automatically or paste in your own" />
        </div>
        <div class="form-group">
          <input class="form-control" id="event_instructions" placeholder="Any other notes/instructions" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="save-event" class="btn btn-primary">Add Event</button>
      </div>
    </div>
  </div>
</div>