<div id="event-form-tmpl" class="hidden">
  <input type="hidden" name="event_id[]" id="event-id-inp"/>
  <input type="hidden" name="event_name[]" id="event-name-inp"/>
  <input type="hidden" name="event_time[]" id="event-time-inp"/>
  <input type="hidden" name="event_venue_name[]" id="event-venue-name-inp"/>
  <input type="hidden" name="event_venue_address[]" id="event-venue-address-inp"/>
  <input type="hidden" name="event_venue_map[]" id="event-venue-map-inp"/>
  <input type="hidden" name="event_instructions[]" id="event-instructions-inp"/>
</div>
