{% extends 'base.html' %}

{% block content %}
  {% include 'header.html' with title="Inbox" nav_menu=True group_id=group.group_id %}
  <div class="container">
    <h4 class="group-title">Sent Messages</h4>
    <div class="message-container">
      {% for message in sent_messages %}
        <a class="message-details-link" href="{% url 'message_details' group.group_id message.message_id %}">
          <div class="message">
            <b>From: {% if message.sender.name %}
                  {{ message.sender.name }}
                {% else %}
                  {{ message.sender.username }}
                {% endif %}
            </b>
            <p>

              {% if message.message_images.count %}
                <span class="glyphicon glyphicon-picture"></span>
              {% endif %}
              {{ message.message }}</p>
            <small>Sent {{ message.message_time }}</small>
          </div>
        </a>
      {% endfor %}
    </div>
    <h4 class="group-title">Received Messages</h4>
    <div class="message-container">
      {% for message in received_messages %}
        <a class="message-details-link" href="{% url 'message_details' group.group_id message.message_id %}">
          <div class="message">
            <b>From: {% if message.sender.name %}
                  {{ message.sender.name }}
                {% else %}
                  {{ message.sender.username }}
                {% endif %}
            </b>
            <p>

              {% if message.message_images.count %}
                <span class="glyphicon glyphicon-picture"></span>
              {% endif %}
              {{ message.message }}</p>
            <small>Sent {{ message.message_time }}</small>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  {% include 'footer.html' with show_logo=True %}
{% endblock %}