{% extends 'base.html' %}

{% block content %}
  {% include 'header.html' with title=message.sender nav_menu=True group_id=group.id %}
  <div class="container" style="min-height: calc(100vh - 11.075rem);">
    <div class="message-detail">
      {% if message.message_images.count %}
      {% for message_image in message.message_images %}
        <img src="{{ message_image.image.url }}" class="conversation-images"/>
      {% endfor %}
      {% endif %}
      <p>{{ message.message }}</p>
      <small>Sent {{ message.message_time }}</small>
    </div>
  </div>
  <form class="reply-form form-container d-flex" method="post">
    {% csrf_token %}
    <div class="form-group" style="flex-shrink: 0;">
      <input class="form-control" name="reply" id="reply" placeholder="REPLY" />
    </div>
    <input type="hidden" name="receiver_email" value="{{ message.sender.username }}" />
    <button class="btn btn-primary" type="submit">Send</button>
  </form>
  {% include 'footer.html' with show_logo=True %}
{% endblock %}