<div id="schedule-form-tmpl" class="hidden">
  <input type="hidden" name="schedule_id[]" id="schedule-id-inp"/>
  <input type="hidden" name="schedule_name[]" id="schedule-name-inp"/>
  <input type="hidden" name="schedule_time[]" id="schedule-time-inp"/>
  <input type="hidden" name="schedule_venue_name[]" id="schedule-venue-name-inp"/>
  <input type="hidden" name="schedule_venue_address[]" id="schedule-venue-address-inp"/>
  <input type="hidden" name="schedule_venue_map[]" id="schedule-venue-map-inp"/>
  <input type="hidden" name="schedule_instructions[]" id="schedule-instructions-inp"/>
</div>
