{% extends 'base.html' %}

{% block content %}
  {% include 'header.html' with title="Details" nav_menu=True group_id=group.id page='view' %}
  <div class="container" style="min-height: calc(100vh - 14.7rem);">
    <h4 class="group-title">{{ group.name }}</h4>
    {% if group.image %}
    <img src="{{ group.image.url }}" class="group-image" />
    {% endif %}
    <p class="group-description">
      {{ group.description|safe }}
    </p>
    <p>
      Invite: {{ request.scheme }}://{{ request.get_host }}{{ group.get_invite_url }}
    </p>
    {% if events|length > 0 %}
    <h5>Events:</h5>
    {% for event in events %}
      <div class="event">
        <b class="event-title">{{ event.name }}</b>
        <p>{{ event.event_time }}</p>
        <p>{{ event.venue_name }}</p>
        <p>
          <a href="{{ event.venue_map_link }}">
            {% if event.venue_address %}
            {{ event.venue_address }} 
            {% else %} 
            {{ event.venue_map_link }}
            {% endif %}
          </a>
        </p>
        {% if event.instructions %}
        <p>Note: {{ event.instructions }}</p>
        {% endif %}
        {% comment %}
        {% if there's an event RSVP}
        <p>Your RSVP status: {{MEMBERS RSVP}}</p>
        {% If admin, add list/popup/link to see RSVPs for each event}
        {% endcomment %}
      </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="footer_content">
    <div class="item">
      <a href="{% url 'send_message' group.id %}">Message {% if is_admin %}Your Group {% else %}Group Admins {% endif %}</a>
    </div>
    <div class="item">
      <a href="{% url 'conversations' group.id %}">Your Inbox</a>
    </div>
    <div class="item">
      <a href="{% url 'edit_group' group.id %}">Edit Group</a>
    </div>
  </div>
  {% include 'footer.html' with show_logo=True %}
{% endblock %}